.activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12PX;
  padding: 6PX 10PX 0;
}
.activity .type {
  color: #fff;
  background-color: red;
  width: 20PX;
  height: 20PX;
  border-radius: 2PX;
  text-align: center;
  line-height: 20PX;
  margin-right: 6PX;
  display: inline-block;
}
.activity .len {
  color: grey;
}
